
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-primary">G K Interiors</h1>
    <p class="lead">Live the way you want</p>
    <hr class="my-4">
    <div class="row">
   
      <div class="col">
        <h5 class="text-info">
         SERVICES
        </h5>
        <p>
         Specialized carpentry joinery
        </p>
        <p>
         Full shop-fittintg services
        </p>
        <p>
          Furniture for commercial and residential projects including soft furnishing
          </p>
        <p>
         Gypsum ceiling and partitions, wooden ceiling and flooring
         </p>
         <p>
          Light fixtures and curatin drapes
         </p>
        <p>
          Turn Key interior decoration
         </p>
         <p>
          Wooden flush and panel doors
         <p>
         Wall papers and wood wall paneling
         </p>
         <p>
          Glass partions and doors
         </p>
      </div>
      
      <div class="col">
     
        <h5 class="text-info">
          Contact Us
        </h5>
        <p>
          +91 9964964667/8147011984
        </p>
        <p>
         Gkinteriors@gmail.com
        </p>
        <h5 class="text-info">Office Address</h5>
        <p>
          #111/1,1st main road of GKW layout,near Peenya 2nd stage,bangalore-560071
        </p>
        <h5 class="text-info">
          Our Values
        </h5>
        <p>
          Professionalism
        </p>
        <p>
         Performance
        </p>
        <p>
          High Quality
        </p>
        <p>
          Customer Satisfaction
        </p>
      </div>
    </div>
  </div>

  <div class="img-fluid" style="background-image:url('../assets/photo1.jpg');height: 100vh ;">
  <div>
    <h3 style="padding:50px;color:white"> G K Interiors</h3>
    <h1 style="margin-top:100px;color:white;text-align: center ;">
      100+ projects
    </h1>
  </div>
  </div>
  <div class="slidshow">
    <h1 style="text-align:center">Recent  Projects</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../assets/New-Project-1.png" alt="First slide">
        </div>
        
        <div class="carousel-item" *ngFor="let imag of images">
          <img class="d-block w-100" src='../assets/{{imag}}.jpg' alt="Second slide">
        </div>
       
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
</div>